@page "{user}"
@model PerfilModel
@{
    ViewData["title"] = "";
}
@{
    if(Model.fuePost){
        Layout = "";
        <h2>@Model.usuario.username</h2>

    }
    else
    {
        <p>La imagen</p>
        <h2>@Model.usuario.username</h2>
        <h3>Publicaciones de @Model.usuario.username</h3>
        foreach(var articulos in Model.articulosUsuario)
        {
            <div class="card">
                <div class="card-header">
                    @articulos.titulo_publicacion
                </div>
                <div class="card-body">
                    <p>Categorias:
                    
                        @if(Model.categoriasArticulos[articulos.Id][1])
                        {
                            <i class="fab fa-linux"></i>
                        }
                        @if(Model.categoriasArticulos[articulos.Id][2])
                        {
                            <i class="fab fa-windows"></i>
                        }
                        @if(Model.categoriasArticulos[articulos.Id][3])
                        {
                            <i class="fab fa-apple"></i>
                        }
                        @if(Model.categoriasArticulos[articulos.Id][4])
                        {
                            <i class="fab fa-android"></i>
                        }
                        @if(Model.categoriasArticulos[articulos.Id][5])
                        {
                            <i class="fab fa-code"></i>
                        }
                        @if(Model.categoriasArticulos[articulos.Id][6])
                        {
                            <i class="fab fa-gamepad"></i>
                        }
                        @if(Model.categoriasArticulos[articulos.Id][7])
                        {
                            <i class="fab fa-desktop"></i>
                        }
                        @if(Model.categoriasArticulos[articulos.Id][8])
                        {
                            <i class="fas fa-question"></i>
                        }
        
                    </p>
                    <a asp-page="/leer" asp-route-id="@articulos.Id">Leer</a>
                </div>
                <div class="card-footer">@Convert.ToDateTime(articulos.fecha_publicacion).Date.ToString("dd/MM/yyyy")</div>
            </div>
        }
    }
}